*{
    padding:0em;
    margin:0em;
}

:root{
    --bgcolor: #0365ae;
    --txtcolor: #fff;
    --breadcrumbcolor: #0354ae;
    --newscolor: #F3C42B;
    --newstxtcolor: #000;
    --contentxtcolor: #000;
    --contentbgcolor: #fff;
    --linkcolor: #fff;
    --visitedcolor: #F3C42B;
    --bordercolor: #000;
}

html, body{
    font-size: 100%;
    font-family: "Verdana", sans-serif;
    line-height: 1.5em;
    margin: auto;
    background-color: #0365ae;
    
}
html{
    background-image: url('/Users/alessiadomuta/Desktop/techweb/lab1/images/bg.png'); /* immagine troppo grande, 1 mega è troppo*/
    background-size: contain;
}

body{
    max-width: 1024px;  /* massima larghezza consentita, altrimenti anche ? qual era?*/
    margin: auto;
    background-color: var(--bgcolor);
    border-style: solid;
    border-width: 0.15em;
    border-color: var(--bordercolor);

}
/*
======================================
                HEADER
======================================
*/

header{
    color:var(--txtcolor);
    text-align: center;
    padding: 1em;
    padding-top: 0.7em;
    background: url(./images/giannellipalleggio.jpg) no-repeat bottom right, url(./images/michielettocoppa.jpg) no-repeat top left;
    background-size: 20%, 20%;
    margin: 0.7em;

}

header h1{
    background-image: url(./images/logo_fipav.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    text-indent: -9999px;
    line-height: 1.5em;
    font-size: 6em;

}

header h2{
    font-size: 1.8em;
    padding: 0.5em;
    margin-top: 0.3em;
}

/*
======================================
                MENU
======================================
*/

#breadcrumb{
    background-color: var(--breadcrumbcolor);
    color: var(--txtcolor);
    padding: 0.5em 1em 0.5em;
    border-style: solid;
    border-width: 0.15em;
    border-color: var(--bordercolor);
    border-left: 0em;
    border-right: 0em;
    font-size: 1.1em;
}
#breadcrumb a:link{
    color:var(--linkcolor);
}
#breadcrumb a:visited{
    color: var(--visitedcolor);
}

#menu{
    float: left;
    width: 20%;
    font-size: 1.3em;
    line-height: 1.7em;
    padding: 0.8em;
}
#menu a:link{
    color: var(--linkcolor);
}
#menu a:visited{
    color: var(--visitedcolor);
}
#menu ul{
    list-style-type: none;
}
#currentlink{
    color: var(--txtcolor);
    padding-left: 1.5em;
    background-image: url(./images/favicon-32x32.png);
    background-repeat: no-repeat;
    background-size: 1.2em;
    background-position-y: center;
}

/*
======================================
                CORPO
======================================
*/

aside{
    float:right;
    max-width: 30%;
    background-color: var(--bgcolor);
    margin-left: 2em;
    line-height: 1.4em;

    border-width: 0.15em;
    border-color: var(--bordercolor);
    border-style: solid;
}
aside h2{
    background-color: var(--newscolor);
    padding: 0.2em;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0.3em;
    margin-bottom: 0em;
}
aside dl {
    color: var(--txtcolor);
}

aside dl dt {
    padding-left: 1em;
    font-weight: bold;
}

aside dl dd {
    padding-left: 1.5em;
    padding-right: 0.2em;
}

main {
    background-color: var(--contentbgcolor);
    margin-left: 25%;
    padding: 1.5em;
    padding-top: 1em;
    border-style: solid;
    border-width: 0.15em;
    border-color: var(--bordercolor);
    border-top: 0em;
    border-bottom: 0em;
    border-right: 0em;
}

main>p {
    margin-bottom: 0.5em;
    padding: 0em 2em;
}

main h1 {
    line-height: 1.5em;
    margin-bottom: 1em;
    margin-left: 2em;
    text-align: center;
}

main>h2 {
    line-height: 1.5em;
    margin: 0.7em 2em;
    text-align: left;
}

main>dl {
    margin: 0em 3em;
}

main>dl>dt {
    padding-left: 1.2em;
    background-image: url(./images/favicon-32x32.png);
    background-repeat: no-repeat;
    background-size: 1em;
    background-position-y: center;
}

main>dl>dd {
    padding-left: 1.2em;
}

main>ul {
    margin-left: 4.5em;
}

main>img {
    float: left;
    max-width: 40%;
    shape-outside: margin-box;
    border-radius: 0 20% 20% 0 /40%;
    margin: 0em 2em 1em 2em;
}

#squadra {
    display: block;
    width: 90%;
    margin: 0em 2.3em;
}

#squadra em {
    font-style: italic;
}

#squadra>dt {
    color: var(--txtcolor);
    background: var(--breadcolor);
    font-weight: bold;
    margin-top: 1em;
    padding-top: 0.5em;
    height: 2em;
}

#squadra>dd {
    border-color: var(--bordercolor);
    border-width: .15em;
    border-style: solid;
    border-top: none;
}

#squadra>dd img {
    float: left;
    max-width: 20%;
}

#squadra>dd>dl {
    margin-left: 25%;
}

#squadra>dd>dl>dt {
    float: left;
    font-weight: bold;
}

#squadra>dd>dl>dt::after {
    content: "\00a0";
}

#squadra>dd>dl>dd ul {
    clear: both;
    margin-left: 2em;
}

/*
======================================
                FOOTER
======================================
*/

footer {
    color: var(--txtcolor);
    background-color: var(--breadcolor);
    text-align: center;

    padding-top: 0.5em;

    border-style: solid;
    border-width: 0.15em;
    border-color: var(--bordercolor);
    border-bottom: 0em;
    border-right: 0em;
    border-left: 0em;
}

footer p {
    display: inline;
    font-style: italic;
    font-size: 0.8em;
}

footer img {
    margin: 0em 1em;
}




/* 163F77 breadcrumb
   F3C42B arancione :)
*/