*{
    padding:0em;
    margin:0em;
}

:root{
    --bgcolor: #0365ae;
    --txtcolor: #fff;
    --breadcrumbcolor: #0354ae;
    --newscolor: #F3C42B;
    --newstxtcolor: #000;
    --contentxtcolor: #000;
    --contentbgcolor: #fff;
    --linkcolor: #fff;
    --visitedcolor: #F3C42B;
}

html, body{
    font-size: 100%;
    font-family: "Verdana", sans-serif;
    line-height: 1.5em;
    margin: auto;
    background-color: #0365ae;
    
}
html{
    background-image: url('/Users/alessiadomuta/Desktop/techweb/lab1/images/bg.png'); /* immagine troppo grande, 1 mega è troppo*/
    background-size: contain;
}

body{
    max-width: 1024px;  /* massima larghezza consentita, altrimenti anche ? qual era?*/
    border: 1px solid #000;

}
#breadcrumb{
    background-color: var(--breadcrumbcolor);
    color:white;
    font-size: 1.1em;
    padding: 0.5em 0em 0.5em 1.0em;
    border: 1px solid #000;
}

header{
    color:var(--txtcolor);
    text-align: center;

}
header h1{

}
header h2{
    font-size: 1.8em;
    padding: 0.5em;
    margin-top: 0.3em;
}


nav{
    background-color: var(--bgcolor);
}

aside{
    background-color: var(--bgcolor);
}
aside{
    float;
}
aside>h2{
    background-color: var(--newscolor);
}

#menu{
    float: left;
    width: 25%;
}

/* 163F77 breadcrumb
   F3C42B arancione :)
*/